body { 
    background-color:white;
}
/* highscore and timer */
header {
    display: inline;
    
}
a {
    text-decoration: none;
}
.timer {
    position: absolute;
    right: 40px;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

button {
    background-color: slateblue;
    border-radius: 5px; 
    color: snow;
}

.btn {
    position: absolute;
    top: 30%;
    left: 50%;

}

.hide{
    display: none;
}

li{ 
    list-style-type: none;
    margin: 10px;
    
    
}
.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    
    
}

